@import 'tailwindcss';

@theme{
    --color-primary: #82c854; /* Green */
    --color-secondary: #2c5da2; /* Blue */
    --color-tertiary: #a86ca0; /* Purple */
    /* add text-xs */
    --font-size-xs: 0.75rem; /* 12px */

}